body{
  background-image: url("../assets/bg_image.png");
  background-repeat: no-repeat;

}

.main-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFD770;
  text-shadow: 10px 10px 10px rgba(0.25, 0.25, 0.25, 0.25);
  -webkit-text-stroke: 2px black;
  margin-top: 175px;
  margin-bottom: 130px;
}

.main-subtext {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #FFFCB5;
  text-shadow: 
    3px 30px 30px rgba(1, 0, 0, 0.332), 
    -5px -13px 20px rgba(0, 0, 0, 0.7);
}
