form {
    background-color: rgba(221, 221, 221, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px; /* Збільшимо радіус для круглих країв */
    padding: 20px; /* Збільшимо відступи від країв форми */
  
    /* Змінимо розмір і положення форми */
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative; /* Змінили position на relative */
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  