.navbar {
    width: 1920px;
    height: 90px;
    display: inline-block;
    background: #3A271C;
  }
  
  .nav-list {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    transform: translateX(30px);
  }
  
  .nav-link {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }
  
  .nav-link:visited{
    text-decoration: none;
}
  .nav-link:hover {
    background-color: #555;
  }
  